{% extends "./recommend/recommend.html" %}

{% block content %}
    <style>
        input {
            border: 2px solid #ccc;
            padding: 10px;
            outline: none;
        }
        input:focus {
            border-color: #3498db;
            box-shadow: 0 0 5px rgba(52, 152, 219, 0.5);
        }
    </style>
    <div id="profile" class="home-container">
        <!-- profile -->
        <div class="first-col">
            {% block contents %}
            <table class="user-info" style="width:720px;">
                <caption>User Info</caption>
                <tbody>
                    <tr>
                        <th>Account</th>
                        {% for index, data in user_data.iterrows() %}
                            <td>
                                <input style="border: none;font-size: 16px;color: black;" type="text" name="account" value="{{ data['account'] }}"  disabled/>
                            </td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th>Email</th>
                        {% for index, data in user_data.iterrows() %}
                            <td>
                                <input style="border: none;font-size: 16px;color: black;" name="email" value="{{ data['email'] }}"  disabled/>
                            </td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th>Line ID</th>
                        {% for index, data in user_data.iterrows() %}
                            <td>
                                <input style="border: none;font-size: 16px;color: black;" name="line_id" value="{{ data['line_id'] }}"  disabled/>
                            </td>
                        {% endfor %}
                    </tr>
                </tbody>
            </table>
            <div class = buttons>
                <a href="{{ url_for('linebot.login_with_line') }}">LINE</a>
                <a href="/main/revise" class="btn">修改資料</a>  
            </div>
            {% endblock %}
        </div>
        <div style="margin-top:40px;width:100%;">
            <div style="display:flex;justify-content: center;">
                <h1>History list</h1>
            </div>
            <div class="news-container">
                {% if history|length == 0 %}
                <div style="margin-bottom:40px;display:flex;justify-content: center;">
                    <p>Not history clicked</p>
                </div>
                {% else %}
                    {% set news_count = history.shape[0] %}
                    {% for row in range((news_count + 1) // 2) %} <!-- 計算總行數 -->
                        <div class="news-row" style="display: flex; justify-content: space-between; margin-bottom: 1px;">
                            {% for col in range(2) %}
                                {% set index = row * 2 + col %}
                                {% if index < news_count %} <!-- 確保索引不越界 -->
                                    <div class="news-block" style="width: 48%; border: 1px solid #ccc; padding: 10px;">
                                        {% if row % 2 == 0 %} <!-- 偶數行：文字靠右，圖片靠左 -->
                                            <div class="news-image" style="float: left; width: 25%;">
                                                <img src="./static/images/news_paper.jpg" alt="news image" style="width: 100%;">
                                            </div>
                                            <div class="news-content" style="float: right; width: 70%; text-align: right;">
                                                <h3>
                                                    <a href="{{ history.iloc[index]['item_link'] }}" target="_blank">
                                                        {{ history.iloc[index]['item_title'] }}
                                                    </a>
                                                </h3>
                                                <p>Date: {{ history.iloc[index]['item_date'] }}</p>
                                            </div>
                                        {% else %} <!-- 奇數行：文字靠左，圖片靠右 -->
                                            <div class="news-content" style="float: left; width: 70%; text-align: left;">
                                                <h3>
                                                    <a href="{{ history.iloc[index]['item_link'] }}" target="_blank">
                                                        {{ history.iloc[index]['item_title'] }}
                                                    </a>
                                                </h3>
                                                <p>Date: {{ history.iloc[index]['item_date'] }}</p>
                                            </div>
                                            <div class="news-image" style="float: right; width: 25%;">
                                                <img src="./static/images/news_paper.jpg" alt="news image" style="width: 100%;">
                                            </div>
                                        {% endif %}
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
