{% extends "./recommend/recommend.html" %}

{% block content %}
    <div id="profile" class="home-container">
        <!-- profile -->
        <div class="first-col">
            <div class = "user-info">
                <h1>User Info</h1>
                <label for="username">Account:</label>
                <input type="text" id="username" name="username" value = "{{ user_info['username'] }}" required>
                <br><br>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" value="{{ user_info['password'] }}" required>
                <br><br>
                <label for="email">Email:</label>
                <input type="email" id="email" name="email"  value="{{ user_info['email'] }}" required>
                <br><br>
                <label for="phone">Phone:</label>
                <input type="tel" id="phone" name="phone"  value="{{ user_info['phone'] }}" required>
            </div>
            <div class = buttons>
                <button class = "btn" type="button" onclick="submitForm()">修改資料</button>
                <!-- <a href="/main/revise" class="btn">修改資料</a> -->
                <a href="javascript: void(0)" class="btn">Line</a>
            </div>
            <figure class="donut_chart">
                <figcaption>Article Category Distribution</figcaption>
                <img src="{{ url_for('main.donut_chart') }}" alt="Donut Chart">
            </figure>
        </div>
        <div class="history-list">
            <h1>History list</h1>
            {% for article in articles %}
            <div class="article">
                <h2>{{ article.title }}</h2>
                <p><strong>Date:</strong> {{ article.date }}</p>
            </div>
            {% endfor %}
        </div>

        <script>
            function submitForm() {
                
                const username = document.getElementById('username').value;
                const password = document.getElementById('password').value;
                const email = document.getElementById('email').value;
                const phone = document.getElementById('phone').value;
    
                
                const formData = {
                    username: username,
                    password: password,
                    email: email,
                    phone: phone
                };
    
                
                fetch('/form', {
                    method: 'POST', 
                    headers: {
                        'Content-Type': 'application/json', 
                    },
                    body: JSON.stringify(formData) 
                })
                .then(response => response.json()) 
                .then(data => {
                    console.log('Success:', data); 
                })
                .catch(error => {
                    console.error('Error:', error); 
                });
            }
        </script>
    </div>
{% endblock %}