{% extends "./recommend/recommend.html" %}

{% block content %}
    <div id="profile" class="home-container">
        <!-- profile -->
        <div class="first-col">
            <table class="user-info">
                <caption>User Info</caption>
                <tbody>
                    <tr>
                        <th>Account</th>
                        {% for index, data in user_data.iterrows() %}
                            <td>
                                <input style="border: none;" type="text" name="account" value="{{ data['account'] }}"  disabled/>
                            </td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th>Email</th>
                        {% for index, data in user_data.iterrows() %}
                            <td>{{ data['email'] }}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th>Line ID</th>
                        {% for index, data in user_data.iterrows() %}
                            <td>{{ data['line_id'] }}</td>
                        {% endfor %}
                    </tr>
                </tbody>
            </table>
            <div class = buttons>
                <a href="javascript: void(0)" class="btn">Line</a>
                <a href="/main/revise" class="btn">修改資料</a>  
            </div>
            <figure class="donut_chart">
                <figcaption>Article Category Distribution</figcaption>
                <img src="{{ url_for('main.donut_chart') }}" alt="Donut Chart">
            </figure>
        </div>
        <div class="history-list">
            <h1>History list</h1>
            {% for article in articles %}
            <div class="article">
                <h2>{{ article.title }}</h2>
                <p><strong>Date:</strong> {{ article.date }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}