<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('main.static', filename='styles.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <title>Home</title>
</head>
<body>
    <header>
        <h1>Recommender System</h1>
    </header>
    <nav>
        <ul>
            <li><a href="/main/today_news" class="tab">Today News</a></li>
            <li><a href="/main/all_dates" class="tab">All News</a></li>
            <li><a href="/main/recommend" class="tab">About Us</a></li>
            <li><a href="/main/profile" class="tab">Profile</a></li>
            <li style="margin-left: auto;">
                <select>
                    <option value="news" selected>新聞</option>
                    <option value="papers">論文</option>
                    <option value="anime">動漫</option>
                </select>
            </li>
        </ul>
    </nav>
    {% block content %}
    {% endblock %}
    <footer>
        <div style="text-align: center; padding: 10px; background-color: #f1f1f1;">
            <p>&copy; 2023 Recommender System. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>
