body {
    margin: 0;
    padding: 0;
    background-size: cover;
    font-family: Arial, sans-serif;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    animation: floatBackground 20s linear infinite;
    z-index: -1;
}

.container1 {
    margin: 20px auto;
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
}

.user_info{
    margin-bottom: 10%;
}

table {
    border-collapse: collapse;
    font-family: sans-serif;
    font-size: 0.8rem;
    letter-spacing: 1px;
    border: 3px solid;
    width: 100%;
    margin-bottom: 20px;
}

th {
    border:  1px solid rgb(160 160 160);
    padding: 8px 10px;
}

.candidate_news {
    width: 45%;
    display: flex;
    flex-direction: column;
    margin: 10px 10px;
    margin-left: 5%;
}

.candidate_news img{
    background-color: rgba(255, 255, 255, 0.8);
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.table_text {
    text-align: center; 
    vertical-align: middle;
}

.candidate_news .red {
    background-color: rgb(251, 239, 238);
}

.candidate_news .green {
    background-color: rgb(244, 251, 238);
}

.candidate_news .candidate_title {
    text-align: center; 
    background-color: rgb(213, 220, 228);
}

.clicked_news .clicked_title {
    text-align: center;
    background-color: rgb(176, 212, 206);
}

.clicked_news caption {
    text-align: center;
}

.return {
    width: 80px;
}

.container2 {
    margin: 20px auto;
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.user_table {
    width: 50%;
}

.user_table .user_title {
    text-align: center; 
    background-color: rgb(250, 240, 230);
}

.link_text {
    color: black;
}