{% extends "./main/profile.html" %}

{% block contents %}

<form action="{{ url_for('main.edit_profile') }}" method="POST">
    <div class="grid grid-cols-5 gap-y-4">
        <div class="col-span-2 font-medium text-gray-700">
            帳號
        </div>
        <div class="col-span-3 text-gray-500">
            <input value="{{ user['account'] }}" name="account" required/>
        </div>
        <div class="col-span-2 font-medium text-gray-700">
            信箱
        </div>
        <div class="col-span-3 text-gray-500">
            <input value="{{ user['email'] }}" name="email" required/>
        </div>
        <div class="col-span-2 font-medium text-gray-700">
            Line ID
        </div>
        <div class="col-span-3 text-gray-500">
            <input value="{{ user['line_id'] }}" name="line_id"  placeholder="Line ID"/>      
        </div>
        <div class="col-span-2 font-medium text-gray-700">
            密碼
        </div>
        <div class="col-span-3 text-gray-500">
            <input  type="password" name="password" placeholder="密碼" required/>
        </td>     
        </div>
    </div>
    <!-- Button Group -->
    <div class="flex gap-3 justify-end">
        <a href="/main/profile" class="bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 px-4 rounded-lg shadow-md transition transform hover:scale-105 duration-200 ease-in-out">
            取消
        </a>
        <a class="bg-red-500 hover:bg-red-600 text-white font-semibold py-2 px-4 rounded-lg shadow-md transition transform hover:scale-105 duration-200 ease-in-out">
            <button type="submit">修改資料</button>
        </a>
    </div>
</form>

    {% if status == 'False' %}
        <script>
            Swal.fire({
                title:"修改失敗",
                text:"email 不符合格式",
                icon:"error",
                confirmButtonText:"返回",
                allowOutsideClick:false
            }).then (function(){
                window.location.href="/main/revise"
            });
        </script>
    {% elif status == 'True' %}
        <script>
            Swal.fire({
                title:"修改成功",
                text:"已修改資料",
                icon:"success",
                confirmButtonText:"返回",
                allowOutsideClick:false
            }).then (function(){
                window.location.href="/main/profile"
            });
        </script>
    {% endif %}
{% endblock %}