{% extends "index.html" %}

{% block content %}
    <div class="login-box bg-[#e7eaf360]">
        <!-- Centered Tab Navigation -->
        <ul class="nav nav-tabs d-flex justify-content-center" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" id="login-tab" href="/main/login" role="tab" aria-controls="login" aria-selected="true">LogIn</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="signup-tab" href="/main/signup" role="tab" aria-controls="signup" aria-selected="false">SignUp</a>
            </li>
        </ul>

        <!-- Tab Content -->
        <div class="tab-content" id="myTabContent">
            <!-- LogIn Tab -->
            <div class="tab-pane fade show active" id="login" role="tabpanel" aria-labelledby="login-tab">
                <div class="text-center my-3 flex justify-content-center">
                    <!-- Insert your custom image here in src -->
                    <img src="./static/images/login.png" class="rounded-circle" alt="profile icon">
                </div>
                <!-- LogIn form with action to /recommend -->
                <form  method = 'post' action = "{{ url_for('main.login_user') }}">
                    <input name="account" type="text" class="form-control" placeholder="account" aria-label="account">
                    <input name="password" type="password" class="form-control" placeholder="password" aria-label="password">
                    <button type="submit" class="btn btn-primary login-button">LogIn</button>
                </form>
            </div>
        </div>
    </div>

    {% if status == 'F' %}
        <script>
            Swal.fire({
                title:"登入失敗",
                text:"請輸入正確的帳號密碼",
                icon:"error",
                confirmButtonText:"返回",
                allowOutsideClick:false
            }).then (function(){
                window.location.href="/main/login"
            });
        </script>
    {% endif %}
{% endblock %}