{% extends "./layout/main_layout.html" %}

{% block content %}
<div class="container 2xl:max-w-7xl mx-auto mt-10">
    {% if is_login == 'True' %}
        <div class="grid grid-cols-10 gap-4">
            <div class="col-span-7 bg-[var(--sail-100)] shadow-md rounded-lg px-10 py-6">
                <!-- View History -->
                <h2 class="my-4 text-2xl font-semibold text-gray-800 text-center">文章瀏覽紀錄</h2>
                <div>
                    {% if history|length == 0 %}
                        <div style="margin-bottom:40px;display:flex;justify-content: center;">
                            <p>目前沒有瀏覽紀錄</p>
                        </div>
                    {% else %}
                        {% set news_count = history.shape[0] %}
                        {% from 'components/doc_block.html' import render_block %}
                        {% for row in range((news_count + 1) // 2) %}
                            {% for col in range(2) %}
                                {% set index = row * 2 + col %}
                                {% if index < news_count %}
                                    <div class="mb-5">
                                        {% with 
                                            link=history.iloc[index]['item_link'],
                                            title=history.iloc[index]['item_title'],
                                            category=history.iloc[index]['item_category'],
                                            abstract=history.iloc[index]['item_abstract'],
                                            datetime=history.iloc[index]['item_date']
                                        %}
                                            {{ render_block(link, title, abstract, category, datetime) }}
                                        {% endwith %}
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}   
                    {% endif %}
                </div>
            </div>

            <div class="col-span-3 bg-[var(--sail-100)] shadow-md rounded-lg p-6 flex items-center flex-col">
                <!-- Avatar and Avatar Setting -->
                <div class="bg-white w-36 h-36 border-2 border-gray-300 rounded-full overflow-hidden my-4">
                    <img src="./static/images/gura.png" alt="User Avatar" class="object-cover w-full h-full">
                </div>
                <div class="my-4 border-t border-gray-300 w-full"></div>
                <!-- User Information -->
                <h2 class="my-4 text-2xl font-semibold text-gray-800 text-center">個人資訊</h2>

                {% block contents %}
                    <div class="grid grid-cols-5 gap-y-4 my-4">
                        <div class="col-span-2 font-medium text-gray-700">
                            帳號
                        </div>
                        <div class="col-span-3 text-gray-500">
                            {{ user['account'] }}
                        </div>
                        <div class="col-span-2 font-medium text-gray-700">
                            信箱
                        </div>
                        <div class="col-span-3 text-gray-500">
                            {{ user['email'] }}
                        </div>
                        <div class="col-span-2 font-medium text-gray-700">
                            Line ID
                        </div>
                        <div class="col-span-3 text-gray-500">
                            {{ user['line_id'] }}
                        </div>
                    </div>
                    <!-- Button Group -->
                    <div class="flex gap-3 justify-end my-4">
                        <a href="https://access.line.me/oauth2/v2.1/authorize?response_type=code&client_id=2006450824&redirect_uri=https://recsys.csie.fju.edu.tw/api/callback/login&state={{ line_state }}&scope=profile%20openid%20email" class="bg-green-500 hover:bg-green-600 text-white font-semibold py-2 px-4 rounded-lg shadow-md transition transform hover:scale-105 duration-200 ease-in-out">
                            綁定Line
                        </a>
                        <a href="/main/edit-profile" class="bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 px-4 rounded-lg shadow-md transition transform hover:scale-105 duration-200 ease-in-out">
                            修改資料
                        </a>
                        <a href="/main/logout" class="bg-red-500 hover:bg-red-600 text-white font-semibold py-2 px-4 rounded-lg shadow-md transition transform hover:scale-105 duration-200 ease-in-out">
                            登出
                        </a>
                    </div>
                {% endblock %}
            </div>
        </div>
    {% else %}
        <div class="my-72 flex justify-center">
            <h1 class="text-xl font-semibold text-gray-800">請先登入</h1>
        </div>
    {% endif %}
</div>
{% endblock %}