<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CNN News</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="background"></div>
    <div class="container">
        <div class="clicked_news">
            <table class="user_info">
                <h1>User Info</h1>
                <thead>
                    <tr>
                        <th>Account</th>
                        <td>{{ user_info['Account'] }}</td>
                    </tr>
                    <tr>
                        <th>Password</th>
                        <td>{{ user_info['password'] }}</td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td>{{ user_info['email'] }}</td>
                    </tr>
                    <tr>
                        <th>Phone</th>
                        <td>{{ user_info['phone'] }}</td>
                    </tr>
                </thead>
            </table>
            <div class="buttons">
                <button class="exit_user_info" type="button">修改資料</button>
                <button class="line" type="button">Line</button>  
            </div>
            <h1>Article Category Distribution</h1>
                <img src="{{ url_for('donut_chart') }}" alt="Donut Chart">
        </div>
        <div class="candidate_news">
            <h1>History list</h1>
            {% for article in articles %}
            <div class="article">
                <h2>{{ article.title }}</h2>
                <p><strong>Date:</strong> {{ article.date }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>