<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CNN News</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="background"></div>
    <div class="container">
        <div class="item1">
            <h1>CNN News</h1>
            {% for article in articles %}
            <div class="article">
                <h2>{{ article.title }}</h2>
                <p><strong>Content:</strong> {{ article.content }}</p>
                <p><strong>Author:</strong> {{ article.author }}</p>
                <p><strong>Date:</strong> {{ article.date }}</p>
            </div>
            {% endfor %}
        </div>
        <div class="item2">
            <img src="{{ url_for('wordcloud_image') }}" alt="Word Cloud">
            <h1>top5 news recommend by XXX</h1>
            <ul>
                {% for article in articles[:5] %}
                <li>{{ article.title }}</li>
                {% endfor %}
            </ul>
            <h1>top5 news recommend by YYY</h1>
            <ul>
                {% for article in articles[6:11] %}
                <li>{{ article.title }}</li>
                {% endfor %}
            </ul>
            <h1>top5 news recommend by ZZZ</h1>
            <ul>
                {% for article in articles[-10:-5] %}
                <li>{{ article.title }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</body>
</html>