<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('main.static', filename='favicon.ico') }}" type="image/x-icon">
    <title>Home</title>

    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('main.static', filename='global.css') }}">
    <link rel="stylesheet" href="{{ url_for('main.static', filename='main.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
</head>
<style>

</style>
<body>
    <nav id="navbar" class="sticky top-0 z-50 bg-[var(--sail-100)] border-b border-gray-300">
        <div class="container 2xl:max-w-7xl mx-auto flex justify-between items-center">
            <div>
                <a href="/main">
                    <img src="./static/images/logo.png" alt="logo" class="select-none w-[70px] h-[55px] ">
                </a>
            </div>
            <ul class="flex items-center gap-8 text-gray-800 font-semibold">
                <div class="flex items-center gap-2 nav-anime hover:text-gray-600">
                    <i class="bi bi-newspaper"></i>
                    <li><a href="/main">最新文章</a></li>
                </div>
                <div class="flex items-center gap-2 nav-anime hover:text-gray-600">
                    <i class="bi bi-people-fill"></i>
                    <li><a href="/main/recommend">關於我們</a></li>        
                </div>
                {% if is_login == 'True' or session.get('token') %}
                    <div class="flex items-center gap-2 nav-anime hover:text-gray-600">
                        <i class="bi bi-person-fill"></i>
                        <li><a href="/main/profile">{{ session['account'] }}</a></li>
                    </div>
                {% else %}
                    <div class="flex items-center gap-2 nav-anime hover:text-gray-600">
                        <i class="bi bi-person-fill"></i>
                        <li><a href="/main/login">登入</a></li>
                    </div>
                {% endif %}
                <a href="#" id="popup-link">
                <div class="flex items-center gap-2 border border-gray-800 hover:border-gray-600 px-2 py-1 rounded-sm hover:text-gray-600">
                        <li>
        
                            {% if session['source'] == 'all' %}
                                資料來源：全部
                            {% elif session['source'] == 'papers' %}
                                資料來源：論文
                            {% else %}
                                資料來源：新聞
                            {% endif %}
                        </li>
                        <i class="bi bi-caret-down-fill"></i>
                    </div>
                </a>
            </ul>
        </div>
    </nav>
    {% block content %}
    {% endblock %}
    <footer class="bg-[var(--sail-100)] p-[30px] text-gray-800">
        <div class="container mx-auto">
            <div class="flex items-center justify-center">
                <a href="#">
                    <img src="./static/images/logo.png" alt="logo" class="select-none w-[60px] h-[60px] ">
                </a>
                <p class="text-lg font-bold">文章推薦系統</p>
            </div>
            <div class="flex items-center justify-center gap-5 mt-5 mb-10">
                <a href="#" class="underline">Privacy Policy</a>
                <a href="#" class="underline">Terms of Use</a>
            </div>
            <div class="text-center mb-10">
                <p>&copy; 2024 Document Recommender System. FJU-CS113-PR-A15. All rights reserved.</p>
            </div>
        </div>
    </footer>
    <script>
        document.getElementById("popup-link").addEventListener("click", function(event) {
            event.preventDefault(); // Prevents the link from navigating away
    
            Swal.fire({
                title: '選擇資料來源',
                html: `
                    <div style="text-align: center; margin-top: 20px; justify-content: center; display: flex; flex-wrap: wrap;">
                        <div style="display: flex; flex-wrap: wrap; gap: 20px;">
                            <label class="custom-label" style="flex-basis: 45%; text-align: left;">
                                <input type="radio" name="swal-option" value="news" class="custom-radio" style="margin-right: 20px;">
                                <span class="checkmark"></span> 新聞
                            </label>
                            <label class="custom-label" style="flex-basis: 45%; text-align: left;">
                                <input type="radio" name="swal-option" value="papers" class="custom-radio" style="margin-right: 20px;">
                                <span class="checkmark"></span> 論文
                            </label>
                            <label class="custom-label" style="flex-basis: 45%; text-align: left;">
                                <input type="radio" name="swal-option" value="all" class="custom-radio" style="margin-right: 20px;">
                                <span class="checkmark"></span> 全部
                            </label>
                        </div>
                    </div>
                `,
                preConfirm: () => {
                    const selectedOption = document.querySelector('input[name="swal-option"]:checked');
                    if (!selectedOption) {
                        Swal.showValidationMessage('You need to choose something!');
                    }
                    return selectedOption ? selectedOption.value : null;
                },
                confirmButtonText: '確認',
                cancelButtonText: '取消',
                showCancelButton: true,
                customClass: {
                    popup: 'my-swal'
                }
            }).then((result) => {
                if (result.isConfirmed) {
                    const page = "{{ session['page'] }}";
                    
                    fetch(`/main/${page}`, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify({
                            source: result.value
                        })
                    }).then(data => {
                        console.log('Data sent successfully:', data);
                        window.location.reload();
                    })
                    .catch(error => {
                        console.error('Error sending data:', error);
                    });

                }
            });
        });
    </script>
    <script>
        // 讓 navber 滑動時有陰影效果
        // GPT寫的不要問我
        const navbar = document.getElementById('navbar');
        let navbarOffset = navbar.offsetTop; // Initial offset

        // Function to update the navbar offset
        function updateNavbarOffset() {
            navbarOffset = navbar.offsetTop;
        }
        // JavaScript to add shadow when navbar is sticky
        window.addEventListener('scroll', function() {
          const navbar = document.getElementById('navbar');
          if (window.scrollY > navbarOffset) {
            navbar.classList.add('shadow-lg'); // Add shadow when scrolling past 0
          } else {
            navbar.classList.remove('shadow-lg'); // Remove shadow when at the top
          }
        });
        // Event listener for resize to update navbarOffset
        window.addEventListener('resize', updateNavbarOffset);
    </script>
    <script src="{{ url_for('main.static', filename='particles.js') }}"></script>
</body>
</html>
