<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('main.static', filename='favicon.ico') }}" type="image/x-icon">
    <title>Home</title>

    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('main.static', filename='global.css') }}">
    <link rel="stylesheet" href="{{ url_for('main.static', filename='main.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
</head>
<body class="flex flex-col min-h-screen">
    <div id="particles-js" class="fixed inset-0 -z-10"></div>
    <nav id="navbar" class="sticky top-0 z-50 bg-[var(--sail-100)] border-b-2 border-gray-600 shadow-lg">
        <div class="container 2xl:max-w-7xl mx-auto flex justify-between items-center">
            <div>
                <a href="/main">
                    <img src="./static/images/logo.png" alt="logo" class="select-none w-[70px] h-[55px] ">
                </a>
            </div>
            <ul class="flex items-center gap-8 font-semibold text-gray-800">
                <a href="/main?is_recommend=True">
                    <div class="flex items-center gap-2 nav-anime hover:text-gray-600">
                        <i class="bi bi-star-fill"></i>
                        <li>推薦文章</li>
                    </div>
                </a>
                <a href="/main?is_recommend=False">
                    <div class="flex items-center gap-2 nav-anime hover:text-gray-600">
                        <i class="bi bi-newspaper"></i>
                        <li>其他文章</li>
                    </div>
                </a>
                <a href="/main/about">
                    <div class="flex items-center gap-2 nav-anime hover:text-gray-600">
                        <i class="bi bi-people-fill"></i>
                        <li>關於我們</li>
                    </div>
                </a>
                {% if session.get('token', None) %}
                    <a href="/main/profile">
                        <div class="flex items-center gap-2 nav-anime hover:text-gray-600">
                            <i class="bi bi-person-fill"></i>
                            <li>{{ session['account'] }}</li>
                        </div>
                    </a>
                {% else %}
                    <a href="/main/login">
                        <div class="flex items-center gap-2 nav-anime hover:text-gray-600">
                            <i class="bi bi-person-fill"></i>
                            <li>登入</li>
                        </div>
                    </a>
                {% endif %}
                <a href="#" id="popup-link">
                    <div class="bg-[var(--sail-500)] text-[var(--base-text-white)] flex items-center gap-2 border border-gray-800 hover:border-gray-600 px-2 py-1 rounded-lg
                        shadow-md 
                        transition transform duration-300 ease-in-out
                        hover:scale-105 hover:bg-[var(--sail-600)]
                        hover:ring-4 hover:ring-[var(--sail-200)] hover:text-[var(--base-text-white)]
                    ">
                        <li>
                            {% if session['source'] == 'all' %}
                                資料來源：全部
                            {% elif session['source'] == 'papers' %}
                                資料來源：論文
                            {% else %}
                                資料來源：新聞
                            {% endif %}
                        </li>
                        <i class="bi bi-caret-down-fill"></i>
                    </div>
                </a>
            </ul>
        </div>
    </nav>
    <main class="flex-grow">
        {% block content %}
        {% endblock %}
    </main>

    <footer class="bg-[var(--sail-100)] p-[30px] text-gray-800">
        <div class="container mx-auto">
            <div class="flex items-center justify-center">
                <a href="#">
                    <img src="./static/images/logo.png" alt="logo" class="select-none w-[60px] h-[60px] ">
                </a>
                <p class="text-lg font-bold">文章推薦系統</p>
            </div>
            <div class="flex items-center justify-center gap-5 mt-5 mb-10">
                <a href="#" class="underline">Privacy Policy</a>
                <a href="#" class="underline">Terms of Use</a>
            </div>
            <div class="text-center mb-10">
                <p>&copy; 2024 Document Recommender System. FJU-CS113-PR-A15. All rights reserved.</p>
            </div>
        </div>
    </footer>
    <script>
        document.getElementById("popup-link").addEventListener("click", function(event) {
            event.preventDefault(); // Prevents the link from navigating away
    
            Swal.fire({
                title: '選擇資料來源',
                html: `
                    <div style="text-align: center; margin-top: 20px; justify-content: center; display: flex; flex-wrap: wrap;">
                        <div style="display: flex; flex-wrap: wrap; gap: 20px;">
                            <label class="custom-label" style="flex-basis: 45%; text-align: left;">
                                <input type="radio" name="swal-option" value="news" class="custom-radio" style="margin-right: 20px;">
                                <span class="checkmark"></span> 新聞
                            </label>
                            <label class="custom-label" style="flex-basis: 45%; text-align: left;">
                                <input type="radio" name="swal-option" value="papers" class="custom-radio" style="margin-right: 20px;">
                                <span class="checkmark"></span> 論文
                            </label>
                            <label class="custom-label" style="flex-basis: 45%; text-align: left;">
                                <input type="radio" name="swal-option" value="all" class="custom-radio" style="margin-right: 20px;">
                                <span class="checkmark"></span> 全部
                            </label>
                        </div>
                    </div>
                `,
                preConfirm: () => {
                    const selectedOption = document.querySelector('input[name="swal-option"]:checked');
                    if (!selectedOption) {
                        Swal.showValidationMessage('You need to choose something!');
                    }
                    return selectedOption ? selectedOption.value : null;
                },
                confirmButtonText: '確認',
                cancelButtonText: '取消',
                showCancelButton: true,
                customClass: {
                    popup: 'my-swal'
                }
            }).then((result) => {
                if (result.isConfirmed) {
                    
                    fetch(`/main/source`, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify({
                            source: result.value
                        })
                    }).then(data => {
                        console.log('Data sent successfully:', data);
                        window.location.reload();
                    })
                    .catch(error => {
                        console.error('Error sending data:', error);
                    });

                }
            });
        });
    </script>
    <script src="{{ url_for('main.static', filename='particles.js') }}"></script>
</body>
</html>
